html, body {
  height: 100vh;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1 {
  font-family: "American Typewriter", serif;
  font-weight: normal;
  color: hsl(0, 0%, 35%);
  line-height: 5vh; /*You must use the same height as the container element */
  font-size: 4vh;
}

.header hr {
  border: 1px solid hsl(0, 0%, 5%);
  margin-bottom: 0px;
}

.section1 {
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.calculator {       
  white-space: nowrap; 
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 10vh;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
}

table {
  width: 100%;
  max-width: 480px;
  border-spacing: 0 10px;
  white-space: nowrap
}

.output-label{
  font-weight: bold;
  color: hsl(0, 0%, 0%);
}

.output-label:hover{
  text-decoration: underline;
  cursor: pointer;
}

input {
  padding-left: 0px;
  width: 80%;
  text-align: center;
}

.bond-price-value {
  font-size: 18px;
  font-weight: bold;
}

.bond-duration-value {
  font-size: 18px;
  font-weight: bold;
}

.bond-convexity-value {
  font-size: 18px;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.footer {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: hsl(0, 0%, 10%);
}

.footer a:hover {
  color: hsl(0, 0%, 35%);
}

.footer p {
 line-height: 5vh; /*You must use the same height as the container element */
 font-size: 2.5vh;
 white-space: nowrap; 
}

.footer hr {
  border: 1px solid hsl(0, 0%, 5%);
  margin-top: 0px;
}

.payment-section {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.payment-section .paymentButton {
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.payment-section .paymentButton:hover {
  background-color: hsl(192, 100%, 70%);
}

.payment-section-button-checked {
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  background-color: hsl(192, 100%, 70%);
}

.calculator td button {
  width: 115px; 
  font-size: 20px;
  font-family:  monospace, Times;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px hsl(0, 0%, 10%);
}

.calculator td button:hover {
  box-shadow: 1px 1px 5px 2px hsl(0, 0%, 10%);
}

.calculator td button:active {
  font-size: 19px;
}

.calculate-btn {
  background-color: hsl(120, 75%, 50%);
}

.reset-btn {
  margin-bottom: 12px;
  background-color: hsl(0, 75%, 50%);
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modalContainer {
  width: 90vw;
  height: 85vh;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsl(0, 0%, 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: clamp(0px, 4vw, 4vh);
}

.modal-body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(10px, 4vw, 4vh);
}

.modal-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-continue-button {
  font-size: clamp(10px, 4vw, 4vh);
  margin: 10px;  
  font-family:  monospace, Times;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 80%);
}

.modal-continue-button:hover {
  box-shadow: 1px 1px 5px 2px hsl(0, 0%, 10%);
}

.modal-continue-button:active {
  font-size: clamp(10px, 3.9vw, 3.9vh);
}